@CHARSET "ISO-8859-1";

.footer {
	background-color : #FF0000;
	border-top-color: #EBEBEB;
	border-top-style: solid;
	border-top-width: 1px;
	bottom: 0;
	height: 35px;
	overflow: hidden;
	position: absolute;
	width: 100%;
}