@CHARSET "ISO-8859-1";

.textBoxError {
	padding-right: 5px;
	padding-left: 5px;
	background: url('images/warning.ico');
	background-position: center right;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	border: 2px solid #6d0019;
	-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 3px inset;
	box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 3px inset;
	outline: none;
	font-size: medium;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 25px;
	padding-left: 5px;
}

.errorInfoBubble {
	position: relative;
	width: 250px;
	height: 20px;
	padding: 12px;
	background: #FFFFFF;
	border: #A1A1A1 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.errorInfoBubble:after {
	content: "";
	position: absolute;
	top: 13px;
	right: -7px;
	border-style: solid;
	border-width: 9px 0 9px 7px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
}

.errorInfoBubble:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 275px;
	border-style: solid;
	border-width: 9px 0 9px 7px;
	border-color: transparent #A1A1A1;
	display: block;
	width: 0;
	z-index: 0;
}

.textboxFirstNameError {
	border: solid 1px #FF0000 !important;
}

.textboxLastNameError {
	border: solid 1px #FF0000 !important;
}