@CHARSET "ISO-8859-1";

.content {
	background-color: #0000FF;
	height: 100%;
	min-height: 800px;
}

.mainPanelLeftSpacing {
	padding-left: 20px;
}

/*
 *  STYLE 8
 */
.style-8::-webkit-scrollbar-track {
	border: 1px solid #6d0019;
	background-color: #F5F5F5;
}

.style-8::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.style-8::-webkit-scrollbar-thumb {
	background: #cc002c; /* Old browsers */
	background: -moz-linear-gradient(top, #cc002c 0%, #6d0019 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc002c),
		color-stop(100%, #6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cc002c 0%, #6d0019 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cc002c 0%, #6d0019 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cc002c 0%, #6d0019 100%);
	/* IE10+ */
	background: linear-gradient(top, #cc002c 0%, #6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(            startColorstr='#cc002c',
		endColorstr='#6d0019', GradientType=0); /* IE6-9 */
}

.menuPanelLeftSpacing {
	padding-left: 50px;
	background: #f5edef;
	overflow-y: auto;
	overflow-x: hidden;
}

.contactDetailsLabel {
	font-weight: bold;
	font-family: arial, sans-serif;
	color: #3C3C3C;
}

.contactDetailsHeadingLabel {
	font-weight: bold;
	font-size: 13px;
	font-family: arial, sans-serif;
	color: #000000;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

header,nav,section,article,aside,footer {
	display: block;
}

body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}