@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

header,nav,section,article,aside,footer {
	display: block;
}

body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
	overflow:auto;
	min-width: 1000px;
	margin:auto;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #FFE680;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	height: 1%;
	position: relative;
}

.middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.container {
	width: 100%;
	float: left;
	overflow: hidden;
}

.content {
	padding: 0 270px 0 270px;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
.sideLeft {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
.sideRight {
	float: left;
	margin-right: -3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
	background: #FFACAA;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin-bottom: 100px;
	background: #B0008E;
}