/* Add css rules here for your application. */
body .gwt-ListBox {
	font-size: 15px;
}

th {
	white-space: normal !important;
	text-align: center !important;
}

.gwt-button button {
	margin: 0;
	padding: 15px 17px;
}

.buttonCellStyle .gwt-Button {
	height: 25px;
	width: 75px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px #E5E5E5;
	outline: 0;
	margin-left: 5px;
	margin-top: 25px;
	margin-right: 3px;
	margin-bottom: 25px;
	font: normal 12px/100% Verdana, Tahoma, sans-serif;
	color: #FFFFFF;
	background: -moz-linear-gradient(top, #ff2819 0%, #ab0000);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff2819),
		to(#ab0000));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #7d0000;
	-moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
		2px rgba(255, 255, 255, 0.7);
	box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 0.7);
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.4), 0px 1px 0px
		rgba(255, 255, 255, 0.3);
}

.buttonCellStyle:HOVER {
	background: -moz-linear-gradient(top, #ff0d00 0%, #960000);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff0d00),
		to(#960000));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #7d0000;
	-moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
		2px rgba(255, 255, 255, 0.7);
	box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 0.7);
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.4), 0px 1px 0px
		rgba(255, 255, 255, 0.3);
}

.buttonCellStyle:ACTIVE {
	color: #ffffff;
	background: -moz-linear-gradient(top, #f20c00 0%, #8f0202);
	background: -webkit-gradient(linear, left top, left bottom, from(#f20c00),
		to(#8f0202));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #7d0000;
	-moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
		2px rgba(255, 255, 255, 0.7);
	box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 0.7);
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.4), 0px 1px 0px
		rgba(255, 255, 255, 0.3);
}

::-webkit-input-placeholder {
	font-size: 13px;
	font-weight: normal;
	margin-top: 3px;
	padding-top: 2px;
	color: #e89d9d;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: 13px;
	font-weight: normal;
	margin-top: 3px;
	padding-top: 2px;
	color: #e86d6d;
}

::-moz-placeholder { /* Firefox 19+ */
	font-size: 13px;
	font-weight: normal;
	margin-top: 3px;
	padding-top: 2px;
	color: #e86d6d;
}

:-ms-input-placeholder {
	font-size: 13px;
	font-weight: normal;
	margin-top: 3px;
	padding-top: 2px;
	color: #e86d6d;
}

.errorInfoBubble {
	position: relative;
	width: 250px;
	height: 20px;
	padding: 12px;
	background: #FFFFFF;
	border: #A1A1A1 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.errorInfoBubble:after {
	content: "";
	position: absolute;
	top: 13px;
	right: -7px;
	border-style: solid;
	border-width: 9px 0 9px 7px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
}

.errorInfoBubble:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 275px;
	border-style: solid;
	border-width: 9px 0 9px 7px;
	border-color: transparent #A1A1A1;
	display: block;
	width: 0;
	z-index: 0;
}

.textboxFirstNameError {
	border-color: #FF0000;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}








/* Add css rules here for your application. */
.gwt-DateBox {
	padding: 5px 4px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: 100%;
}

.gwt-DateBox input {
	width: 8em;
}

.dateBoxFormatError {
	background: #ffcccc;
}

.dateBoxPopup {
	
}

.gwt-DatePicker {
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
	outline: none;
}

.datePickerDays {
	width: 100%;
	background: white;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-size: 85%;
	text-align: center;
	padding: 4px;
	outline: none;
	font-weight: bold;
	color: #333;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	background: #fff;
	padding: 0px 4px 2px;
	cursor: default;
	color: #666;
	font-size: 70%;
	font-weight: normal;
}

.datePickerDay {
	padding: 4px 7px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsWeekend {
	background: #f7f7f7;
}

.datePickerDayIsFiller {
	color: #999;
	font-weight: normal;
}

.datePickerDayIsValue {
	background: #d7dfe8;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	color: #FFFFFF;
	background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
	background: #d7dfe8;
}

.datePickerDayIsToday {
	padding: 3px;
	color: #FF0000;
	background-color: #FFF0F0;
}

.datePickerMonthSelector {
	width: 100%;
	padding: 1px 0 5px 0;
	background: #fff;
}

td.datePickerMonth,td.datePickerYear {
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}

.datePickerPreviousButton,.datePickerNextButton,.datePickerPreviousYearButton,.datePickerNextYearButton
	{
	font-size: 120%;
	line-height: 1em;
	color: #3a6aad;
	cursor: hand;
	cursor: pointer;
	font-weight: bold;
	padding: 0px 4px;
	outline: none;
}