/* Add css rules here for your application. */
::-webkit-input-placeholder {
	font-size: 13px;
	font-weight: normal;
	margin-top:3px;
	padding-top:2px;
   	color: #e89d9d;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: 13px;
	font-weight: normal;
	margin-top:3px;
	padding-top:2px;
   	color: #e86d6d;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-size: 13px;
	font-weight: normal;
	margin-top:3px;
	padding-top:2px;
   	color: #e86d6d;
}

:-ms-input-placeholder {  
	font-size: 13px;
	font-weight: normal;
	margin-top:3px;
	padding-top:2px;
   	color: #e86d6d;
}
