@CHARSET "ISO-8859-1";

.footer {
	border-top-color: #EBEBEB;
	border-top-style: solid;
	border-top-width: 1px;
	bottom: 0;
	height: 35px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	margin: -50px auto 0 auto;
}

.footer1 {
	border-top-color: #FFFF00;
	border-top-style: solid;
	border-top-width: 1px;
	bottom: 0;
	height: 35px;
	position: absolute;
	margin :0;
	width: 100%;
}

.footer2 {
  font-size:0.85em;
  line-height:0;
  padding-top:9px;
  white-space:nowrap;
}


.footerfooter {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}